.main-card {
  padding: 25px;
  border-radius: 15px;
  margin: 45px
}

.banner {
  position: relative;
  height: 350px;
  overflow: hidden;
}
.banner-logo {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3f51b5

}

.form-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin: 15px 25px;
}

.form-container .column-1 {
  grid-column: span 1;
}

.form-container .column-2 {
  grid-column: span 2;
}

.form-container .column-3 {
  grid-column: span 3;
}

.form-container .column-4 {
  grid-column: span 4;
}

@media (max-width: 600px) {
  .form-container .column-1,
  .form-container .column-2,
  .form-container .column-3,
  .form-container .column-4, {
    grid-column: span 4;
  }
  .banner {
    height: 200px;
  }
  .banner-logo {
    height: 240px;
    width: 240px;
  }
}
@media (max-width: 450px) {
  .form-container .column-1,
  .form-container .column-2,
  .form-container .column-3,
  .form-container .column-4, {
    grid-column: span 4;
  }
  .banner {
    height: 150px;
  }
  .banner-logo {
    height: 190px;
    width: 190px;
  }
}

